@font-face {
    font-family: 'Himalaya';
    src: url('fonts/himalaya.ttf');
  }

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section.bg-cover {
  background-position: center;
}

/* Styles for mobile view */
@media (max-width: 768px) {
  section.bg-cover {
      background-position: center center;
  }
}