@font-face {
    font-family: 'Himalaya';
    src: url('fonts/himalaya.ttf');
  }

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#translate_options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.selected-language {
  background-color: #e2e8f0; /* Tailwind's gray-200 */
  font-weight: bold;
}

section.bg-cover {
  background-position: center;
}

/* Styles for mobile view */
@media (max-width: 768px) {
  section.bg-cover {
      background-position: center center;
  }
}